@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 207 41% 91%;
    --foreground: 204 100% 4%;

    --light: 205 90% 96%;
    --light-foreground: 204 100% 4%;

    --muted: 210 40% 85%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 205 90% 96%;
    --popover-foreground: 204 100% 4%;

    --badge: 217 19% 27%;
    --badge-foreground: 213 27% 84%;

    --card: 0, 0% 100%;
    --card-foreground: 222.2, 47.4% 11.2%;

    --border: 0 0% 75%;
    --input: 214.3 31.8% 91.4%;

    --primary: 205 91% 68%;
    --primary-foreground: 204 100% 1%;

    --secondary: 210 90% 55%;
    --secondary-foreground: 204 100% 1%;

    --accent: 155 58% 54%;
    --accent-foreground: 204 100% 1%;

    --destructive: 354 81% 44%;
    --destructive-foreground: 204 100% 4%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 205 0% 10%;
    --foreground: 205 0% 94%;

    --light: 0 0% 6%;
    --light-foreground: 205 0% 94%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 205 0% 6%;
    --popover-foreground: 205 0% 94%;

    --badge: 217 19% 27%;
    --badge-foreground: 213 27% 84%;

    --card: 0, 0% 100%;
    --card-foreground: 222.2, 47.4% 11.2%;

    --border: 0 0% 75%;
    --input: 214.3 31.8% 91.4%;

    --primary: 205 91% 68%;
    --primary-foreground: 204 100% 1%;

    --secondary: 210 90% 55%;
    --secondary-foreground: 204 100% 1%;

    --accent: 155 58% 54%;
    --accent-foreground: 204 100% 1%;

    --destructive: 354 81% 44%;
    --destructive-foreground: 205 0% 94%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  body {
    @apply bg-background text-foreground dark:bg-background dark:text-foreground;
  }
}
